<section>
  <h1>Welcome to the official Weirdo website!</h1>
</section>
<section class="bg-base-300">
  <h2>Check out our useful links.</h2>
  <button class="btn btn-primary" routerLink="directory">Directory</button>
</section>
<section>
  <h2>Weirdo Creations</h2>
  <a href="https://github.com/We1rdoYT/Creations" target="_blank">
    <button class="btn btn-secondary">Creations</button>
  </a>
</section>
<section class="bg-base-300">
  <h2>Featured Creations</h2>
  <ul class="p-0">
    @for (featured_creation of featured_creations; track $index) {
      <li class="list-none p-0">
        @if (featured_creation.link.startsWith("https://")) {
          <a [href]="featured_creation.link" target="_blank"
            ><fa-icon class="mr-5" [icon]="featured_creation.icon" />{{
              featured_creation.site
            }}</a
          >
        } @else {
          <a [routerLink]="featured_creation.link"
            ><fa-icon class="mr-5" [icon]="featured_creation.icon" />{{
              featured_creation.site
            }}</a
          >
        }
      </li>
    }
  </ul>
</section>
